<MudLink Typo="Typo.inherit" Href="@Href" Underline="Underline.Hover" @attributes=Attributes>
    <span>
        @ChildContent<sup style="margin-right: -2px">🔗</sup>
    </span>
</MudLink>

@code {
    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public string Href { get; set; } = "";

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> Attributes { get; set; } = new Dictionary<string, object>();
}
