@page "/"
@using Sorcery.Shared.Components.Blogging;
@inject BlogBook BlogBook;

<PageTitle>Mat Gienieczko</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <MudPaper Height="100%" Width="100%" Class="pa-sm-16 pa-4 my-4">
        <Header1>Greetings!</Header1>
        <Paragraph>
            I'm Mateusz Gienieczko, a.k.a. V0ldek on all the platforms that allow you to put your nickname in. 
            I'm a programmer, currently at Microsoft Identity, and I dabble in open-source in the meantime.
            You can learn more about me at <Link Href="/about">About me</Link>.
        </Paragraph>

        <Paragraph>
            I write a blog at <Link Href="/sourcery">Sourcery</Link>, here's the latest post: 
        </Paragraph>

        <div class="ma-4">
            <BlogPostCard Post="BlogBook.Posts.First()" />
        </div>

        <Paragraph>
            I have a course on C# starting from the very basics &ndash; check out <Link Href="/teaching">Teaching</Link>.
        </Paragraph>
        
        <Header2>About this page</Header2> 
        <Paragraph>
            First of all, this page is fully open-source. If there are any issues that you see, or room
            for improvement and making it more accessible for you, please, file an issue on <Link Href="@GitHub.Sorcery">GitHub</Link>.
        </Paragraph>
        <Paragraph>
            It is powered by <Link Href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor</Link>
            and written in C#, with the help of <Link Href="https://mudblazor.com/">MudBlazor</Link> components.
            It contains as little JavaScript as possible while still being presentable, which means it uses the
            <Link Href="https://katex.org/">KaTeX</Link> for pretty math,
            <Link Href="https://prismjs.com/">Prism</Link> for syntax highlighting,
            and the <Link Href="https://asciinema.org/">Asciinema</Link> player libraries for animated terminal snippets.
        </Paragraph>
        <Header2>Privacy</Header2>
        <Paragraph>
            All resources are statically hosted with the exception of comments;
            the only external calls that this site makes are to the comment service.
            There is no trackers and I do not store any personal information.
            I know, complete avant-garde. I wish "Web 3.0" was this instead of whatever it's
            being sold as right now.
        </Paragraph>
        <Paragraph>
            Comments are powered by <Link Href="https://giscus.app/">giscuss</Link> and hosted on
            <Link Href="https://github.com/V0ldek/Sorcery/discussions">GitHub Discussions</Link>;
            you need a GitHub account to post a comment, and all the comment data is managed by GitHub
            according to <Link Href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement">their privacy policy</Link>.
            If you wish your comments disappeared from this site simply delete them from the relevant GitHub Discussion.
        </Paragraph>
    </MudPaper>
</MudContainer>
