@page "/"
@using Sorcery.Shared.Components.Blogging;
@inject BlogBook BlogBook;

<Pageitle>Mat Gienieczko</Pageitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <MudPaper Height="100%" Width="100%" Class="pa-sm-16 pa-4 my-4">
        <MudText Typo="Typo.h1" Class="mx-auto">Greetings!</MudText>
        <MudDivider Class="my-6" DividerType="DividerType.FullWidth" Vertical="false"/>
        <MudText GutterBottom="true">
            I'm Mateusz Gienieczko, a.k.a. V0ldek on all the platforms that allow you to put your nickname in. 
            I'm a programmer and a streamer. You can learn more about me at <MudLink Href="/about">About me</MudLink>.
        </MudText>

        <MudText>
            I write a blog at <MudLink Href="/sourcery">Sourcery</MudLink>, here's the latest post: 
        </MudText>

        <div class="ma-4">
            <BlogPostCard Post="BlogBook.Posts.First()" />
        </div>

        <MudText>
            I have a course on C# starting from the very basics &ndash; check out <MudLink Href="/teaching">Teaching</MudLink>.
        </MudText>
        
        <MudText Typo="Typo.h2" Class="mx-auto my-6">About this page</MudText> 
        <MudText GutterBottom="true">
            First of all, this page is fully open-source. If there are any issues that you see, or room
            for improvement and making it more accessible for you, please, file an issue on <MudLink Href="@GitHub.Sorcery">GitHub</MudLink>.
        </MudText>
        <MudText GutterBottom="true">
            It is powered by <MudLink Href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor</MudLink>
            and written in C#, with the help of <MudLink Href="https://mudblazor.com/">MudBlazor</MudLink> components.
            It contains as little JavaScript as possible while still being presentable, which means it uses the
            <MudLink Href="https://katex.org/">KaTeX</MudLink>, <MudLink Href="https://prismjs.com/">Prism</MudLink>,
            and the <MudLink Href="https://asciinema.org/">Asciinema</MudLink> player libraries.
        </MudText>
        <MudText>
            All resources are statically hosted, literally no external sites are called from here.
            There is no trackers and I do not store any personal information.
            I know, complete avant-garde. I wish "Web 3.0" was this instead of whatever it's
            being sold as right now.
        </MudText>
    </MudPaper>
</MudContainer>
