@font-face {
    font-family: "Terminal Nerd Font";
    src: url("/css/fonts/MesloLGS-NF-Regular.woff2") format("woff2"),
    url("/css/fonts/MesloLGS-NF-Regular.woff") format("woff");
}

.asciinema-terminal {
    font-family: 'Terminal Nerd Font', Consolas, Menlo, 'Bitstream Vera Sans Mono', monospace, 'Powerline Symbols' !important;
}