.sorcery-prev-button-container {
    float: right;
}

@media(min-width: 600px) {
    .sorcery-button-next {
        max-width: 45%
    }    
}

.sorcery-button-text {
    margin-top: 1px;
}

.sorcery-button-next .mud-alert {
    text-align: left;
}