.sorcery-footnote[data-intralink-focused]:focus {
    border: solid 1px;
}

.sorcery-ref-footnote[data-intralink-focused]:focus {
    border: solid 1px;
}

.sorcery-intralink {
    cursor: pointer;
}

.footnote {
    width: 100%;
}

.ref-footnote {
    width: 100%;
}