.sorcery-quote-container {
    justify-self: right;
}

.sorcery-quote-container .quote-text {
    color: #9E9E9E;
    border-left-style: solid;
    padding-left: 0.5em;
}

.sorcery-quote-container .quote-text-light {
    color: #616161;
    border-left-style: solid;
    padding-left: 0.5em;
}
